<!doctype html>
<html lang="en">
    <head>
    	<base href="/" />
        <title>{{ title }}</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/css/main.css" />
    </head>
    <body>
        {{{body}}}
    	<script type="text/javascript" src="/scripts/main.build.js"></script>
    	{{#if PROD_MODE}}
    	    {{{block 'googleAnalyticsScripts'}}}
    	{{/if}}
    </body>
</html>