.t-login {
    @extend .container;
}

.t-login__primary-row {
    @extend .row;
    min-height: 100vh;
    align-items: center;
}


.t-login-main {
    @extend .col-sm-4, .offset-sm-2;
    transform: translateY(-25%);
}

.t-login-sidebar {
    @extend .col-sm-4;
}