
.t-product {
    @extend .row;
}

.t-product__img-col {
    //@extend .col-xs-12, .col-md-6;
    @extend .col-sm-6;
}

.t-product__detail-col {
    //@extend .col-xs-12, .col-md-4;
    @extend .col-sm-6;
}





// These should go!

.mobile-gallery {
	display: none;
	@include media-breakpoint-down(sm) {
		display: block;
	}
}

.desktop-gallery {
	display: none;
	@include media-breakpoint-up(md) {
		display: block;
	}
}