.banner-jumbo {
	position: relative;
}

.banner-jumbo__bg {
    width: 100%;
}

.banner-jumbo__content {
	position: absolute;
	width: 50%;

	&--center {
		transform: translateX(-50%);
		transform: translateY(-50%);
	}

	&--top,
	&--bottom {
		left: 50%;
		transform: translateX(-50%);
	}

	&--top {
		top: 10px;
	}

	&--bottom {
		bottom: 10px;
	}

	&--left,
	&--right {
		top: 50%;
		transform: translateY(-50%);
	}

	&--left {
		left: 10px;
	}

	&--right {
		right: 10px;
	}

	&--top-left,
	&--bottom-left {
		left: 10px;
	}

	&--top-left {
		top: 10px;
	}

	&--bottom-left {
		bottom: 10px;
	}

	&--top-right,
	&--bottom-right {
		right: 10px;
	}

	&--top-right {
		top: 10px;
	}

	&--bottom-right {
		bottom: 10px;
	}

	// TODO make generic - add to typography.scss
    h1 {
        font-size: 50px;
        color: #fff;
        line-height: 1.1.2;
        letter-spacing: 5px;
        text-transform: uppercase;
        margin-bottom: 0;
	}
}