.g-header {
    @include clearfix;
    background: #fff;
    border-bottom: 1px solid $colour-border-reg;
    margin-bottom: 12px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.g-header__container {
    @extend .container;
    padding: 12px 0;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.g-header__toolbar {
    border-bottom: 1px solid $colour-border-reg;
    padding: 12px 0;
}

.g-header__logo {
    width: 142px;

    & img {
        width: 100%;
    }
}


.g-header__navigation {
    @include media-breakpoint-up(md) {
        align-self: center;
        flex-grow: 1;
        margin-left: $baseline * 2;
    }
}

.g-header__search {
    width: 100%;

    @include media-breakpoint-down(md) {
        order: 4;

        bottom: 0;
        left: 0;
        padding: $baseline;
        position: fixed;
        width: 100%;
    }

    @include media-breakpoint-up(lg) {
        margin-right: $baseline * 2;
        width: 400px;
    }
}

.g-header__basket {
    width: 36px;
}

.g-header__menu-btn {
    @include media-breakpoint-up(md) {
        display: none;
    }
}
