
.g-navigation {
    @include media-breakpoint-down(sm) {
        background: #fff;
        // flex-direction: column;
        height: 100%;
        // min-height: 100vh;
        left: 0;
        padding: 0 5px;
        overflow-y: auto;
        position: fixed;
        top: 0;
        width: 280px;
        z-index: 1001;

        // TODO move to mixin
        transform: translate3d(-280px,0,0);
        transition: transform 0.4s;
        transition-timing-function: cubic-bezier(0.7,0,0.3,1);

        .show-nav & {
            transform: translate3d(0,0,0);
            box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
        }
    }
    
}

// TODO pass a class name into IconButton instead and stop using ids!
#g-menu-button--close {
    @include media-breakpoint-up(md) {
        display: none;
    }
}



.nav-list {

    &--l0 {
        
    }

    &--l1 {
        @include media-breakpoint-up(md) {
            // TODO hide off canvas instead
            display: none;
        }
    }
}

.nav-list__item {

    &--l0 {
        @include media-breakpoint-up(md) {
            display: inline-block;
            margin-right: $baseline * 2;
        }
    }

    &--l1 {
        
    }
}

.nav-list__item-link {
    &--l0 {
        text-transform: uppercase;
        @include font-size(1.4);
    }

    &--l1 {
        
    }
}



// .main-menu__btn-close {
//     float: right;
//     margin: 10px;
// }

// .main-menu__container {
//     padding: 0 35px;
// }
